/* Header Styles */

#header * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Logo */
.logo {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: #000;
  line-height: 1;
}

/* Navbar - desktop view */
.navbar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-right: 1rem;
}

.navbar ul li {
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
}

.navbar ul li a {
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: rgb(253, 122, 106);
}

/* Burger & Close icons - hidden by default */
.burger-menu,
.close-menu {
  display: none;
}

/* Responsive Adjustments */
@media (max-width: 1024px) {
  .burger-menu {
    font-size: 2.5rem;
    position: fixed;
    top: 0.3rem;
    right: 1.5rem;
    z-index: 1002;
    cursor: pointer;
    display: block;
  }

  .close-menu {
    font-size: 3rem;
    position: fixed;
    top: 0.3rem;
    right: 1.5rem;
    z-index: 1003;
    cursor: pointer;
    color: #000;
    display: none;
  }

  body.menu-open .close-menu {
    display: block;
  }

  body.menu-open .burger-menu {
    display: none;
  }

  .navbar ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    padding-top: 6rem;
    z-index: 1001;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    overflow: hidden;
  }

  .navbar ul.menu-open {
    opacity: 1;
    visibility: visible;
  }

  body.menu-open::before {
    content: "";
    position: fixed;
    inset: 0;
    background-color: #fff;
    z-index: 1000;
  }

  .navbar ul li {
    margin-bottom: 2.6rem;
  }

  .navbar ul li a {
    font-size: 1.8rem;
  }
}

/* DEVICES: ≤ 768px */

@media (max-width: 768px) {
  .logo {
    font-size: 1.2rem;
  }

  .navbar ul li a {
    font-size: 1.5rem;
  }

  .burger-menu {
    font-size: 2.2rem;
  }

  .close-menu {
    font-size: 2.7rem;
  }

  .navbar ul li {
    margin-bottom: 2rem;
  }
}

/* DEVICES: ≤ 576px */
@media (max-width: 576px) {
  .logo {
    font-size: 1rem;
  }

  .navbar ul li a {
    font-size: 1.2rem;
  }

  .burger-menu {
    font-size: 1.9rem;
  }

  .close-menu {
    font-size: 2.3rem;
  }

  .navbar ul li {
    margin-bottom: 1.8rem;
  }
}

/* No Scroll When Menu Opened */
body.menu-open {
  overflow: hidden;
  height: 100vh;
}
